<% content_for :title, "Password" %>
<div class="container">
  <div class="columns background-light pt-1">
    <div class="column col-4 col-sm-12 col-mx-auto">
      <div class="card card-form">
        <div class="card-header">
          <h2 class="text-script">Change your password</h2>
        </div>
        <div class="card-body">
          <%= simple_form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :put }) do |f| %>
            <%#= devise_error_messages! %>
            <%= f.hidden_field :reset_password_token %>

            <%= f.input :password %>
            <%= f.input :password_confirmation, hint: "#{@minimum_password_length} characters minimum" %>

            <%= f.submit "Change my password", class: "btn btn-primary" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
